body{ 
	font-family: 'Open Sans', Arial, Helvetica, sans-serif; text-align: center;
	background: #157EFB; /* fallback for old browsers */
/*	background: -webkit-linear-gradient(to left, #55A4F2 , #556FF2); 
	background: linear-gradient(to left, #55A4F2 , #556FF2);*/
            
}
nav {
  background-color: white;
  width: 100px;
  height: 100px;
  transform: rotate(-45deg);
  color: #157EFB;
  position: fixed;
  left: -50px;
  cursor: pointer;
}

nav p {
  transform: rotate(45deg);
  height: 95px;
  float: right;
  line-height: 115px;
}

#board { 
	width: 98%; 
	margin: 10px auto; 
	padding-left: 8%;
}

#question{
	display: none; 
	color: white; 
	font-size: 3em; 
	/*font-weight: bold;*/
	font-family: "Open Sans";
	letter-spacing: 0.1rem;
	padding: 50px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

header .cell { 
	line-height: inherit;
	border: none;
	color: white; 
	font-size: 20px;
	margin: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 
}

.title{
	height: 56px;
}

.cell{ 
	letter-spacing: 0.1em;
	color: white; 
	font-size: 2rem; 
	font-weight: bold; 
	height: 100px; 
	text-align: center; 
	border: 1px solid white; 
	padding: 5px; 
	line-height: 3em; 
	cursor: pointer;
	margin: 10px;

}

.cell:hover{
	background-color: white;
	color: #157EFB;
	-webkit-box-shadow: 10px 10px 48px -23px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 48px -23px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 48px -23px rgba(0,0,0,0.75); 

}

header .cell:hover{
	background-color: #157EFB;
  color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.jeopardy-logo{
	font-family: 'Bungee Shade', cursive;
	font-size: 40px;
	color: white;
	padding-top: 5px;
	left:-2px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.4;
  z-index: 10;
}

#modal {
  background-color: white;
  z-index: 20;
  color: #157EFB;
  width: 50%;
  height: 30%;
  padding: 20px;
  position: fixed;
  top: 35%;
  left: 25%;
}

.hide {
  display: none;
}
